<header>
  <nav class="navbar">
    <div class="logo">Weather App</div>
    <ul class="nav-links">
      <li><a href="/">Anasayfa</a></li>
      <li><a href="/weather">Hava Durumu</a></li>
      <li><a href="/about">Hakkında</a></li>
      <li><a href="/help">Yardım</a></li>

    </ul>
  </nav>
</header>
